body{
  font-family: 'Montserrat';
  background: #e8e8e8 !important;
}
.problems-nav{
  background: #528FF5;
}
.problems-nav-options{
  background: #528FF5 !important;
  box-shadow: none !important;
  position: relative;
  left: -5%;
  line-height: 20px;
}
.problems-nav-options.active{
  background: #528FF5 !important;
  box-shadow: none !important;
}
.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 180px !important;
  }
.dropdown-content li a{
  color: #528FF5 !important;
  font-size: 1rem;
}
.problems-tabs{
  padding-left: 20%;
  padding-right: 20%;
}
.problems-tabs .tabs li a{
  color: black !important;
}
.problems-tabs .tabs li a:hover, .problems-tabs .tabs li a.active{
  color: #528FF5 !important;
}
.problems-tabs .tabs .indicator{
  background: #528FF5 !important;
  height: 3px !important;
}

.problems-tabs .questions{
  background: #e8e8e8 !important;
  padding-top: 2%;
}

.question-card{
  padding: 0.1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background: white;
  border-radius: 5px;
  margin: 2% 0%;
  position: relative;
  box-shadow: 0px 3px 3px rgba(180,180,180,0.5) !important;
}
.question-card:hover{
  cursor: pointer;
}
.question-card-header{
  font-family: 'Ubuntu';
  font-size: 1.2rem;
}
.question-description{
  font-family: 'Lato';
  font-size: 1.1rem;
}
.question-card hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(220,220,220,0.5) !important;
    margin: 0.8rem 0;
    padding: 0;
}
.question-difficulty, .question-unanswered{
  color: rgb(175,174,174);
  font-size: 1.0rem;
}
.question-answered{
  color: #528ff5;
  font-size: 1.1rem;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 600px){
  .problems-nav{
    min-height: 5vh;
  }
  .problems-nav img{
    width: 50%!important;
  }
  .problems-nav a{
    font-size: 1.6rem;
    margin-top: 30px;
  }
  .problems-tabs{
    font-size: 1.0rem;
  }
  .problems-tabs.row{
    padding: 5px;
  }
  .tabs{
    font-size: 0.8rem;
  }
  .question-card{
    width: 100%;
  }
  .question-difficulty{
    font-size: 0.8rem;
  }
  .question-answered{
    margin-top: 5px;
    font-size: 0.8rem;
  }
  .dropdown-content li a{
    font-size: 1.3rem;
  }
}

@media only screen and (min-device-width: 700px) and (max-device-width: 1023px){
  .problems-nav img{
    width: 25%!important;
  }
  .problems-nav a{
    font-size: 1.2rem;
    margin-top: 1.9%;
  }
  .problems-tabs{
    font-size: 1.0rem;
  }
  .question-answered{
    font-size: 1.1rem;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1349px){
  .problems-nav img{
    width: 20%!important;
  }
  .problems-nav a{
    font-size: 1.0rem;
    margin-top: 1.8%;
  }
  .problems-tabs{
    font-size: 1.0rem;
  }
  .question-answered{
    font-size: 1.1rem;
  }

}

@media only screen and (min-device-width: 1600px) and (max-device-width: 2000px){
  .problems-nav img{
    width: 15% !important;
    margin-top: -19px;
  }
  .problems-nav a{
    font-size: 1.4rem;
  }
  .problems-tabs{
    font-size: 1.2rem;
  }
  .question-card-header{
    font-size: 1.5rem!important;
  }
  .question-description{
    font-size: 1.4rem!important;
  }
  .question-answered{
    font-size: 1.1rem;
  }
}
.instruction-mgmt li{
  list-style-type:disc;
  margin-left: 20px;
  text-align: left !important;
}
